<nav class="fixed w-full top-0 flex justify-center bg-sky-700 border-gray-200 px-4 py-2.5 h-14 sm:h-20 sm:px-4">
	<div class="container flex flex-wrap justify-between items-center mx-auto">
		<a href="#" class="flex items-center">
			<picture>
				<source media="(min-width: 640px)" srcset="../../images/my-logo.png" />
				<img
					width="24"
					height="24"
					src="../../images/my-logo_48px.png"
					alt="Flowbite Logo"
					class="mr-3 h-6 w-6 rounded-full sm:h-9 sm:w-9">
			</picture>
			<span class="self-center text-2xl sm:text-3xl font-semibold whitespace-nowrap text-white">Portfolio</span>
		</a>
	</div>
</nav>