<div class="my-24">
    <div id="certified" class="w-100 flex flex-col items-center mx-6 mt-12 scroll-mt-24">
        <div class="md:w-3/5 text-center">
            <h5 class="text-sky-500 text-xl font-extrabold">What's I passed?</h5>
            <h3 class="text-4xl text-slate-900 font-extrabold">My Certified</h3>
            <p class="font-semibold text-gray-400 mt-4">The skill have approved from authority association. Including with Coursed certified and exam certified</p>
        </div>
        <div class="flex flex-row justify-center flex-wrap gap-x-10 gap-y-12 mt-8">
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-t-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/aws-sa-cert.webp">
                    <source type="image/png" srcset="images/certs/aws-sa-cert.png">
                    <img
                        loading="lazy"
                        alt="aws-sa-cert"
                        src="images/certs/original/aws-sa-cert.png"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">AWS Certified Solutions Architect – Associate</h5>
                    <p class="font-semibold text-gray-400 mt-2">Certification validates the ability to design and implement distributed systems on AWS.</p>
                    <a aria-label="aws-dev-cert" href="https://www.credly.com/badges/108ae387-635a-42eb-8a63-dc01512232ee/public_url" target="_blank" class="text-sm text-blue-500 font-semibold mt-3">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-t-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/aws-dev-cert.webp">
                    <source type="image/png" srcset="images/certs/aws-dev-cert.png">
                    <img
                        loading="lazy"
                        alt="aws-dev-cert"
                        src="images/certs/original/aws-dev-cert.png"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">AWS Certified Developer – Associate</h5>
                    <p class="font-semibold text-gray-400 mt-2">Certification validates the ability to write and deploy cloud-based applications.</p>
                    <a aria-label="aws-sa-cert" href="https://www.credly.com/badges/cb20f3c5-8093-4de2-88df-169110e5021f/public_url" target="_blank" class="text-sm text-blue-500 font-semibold mt-3">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-t-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/aws-sysops-cert.webp">
                    <source type="image/png" srcset="images/certs/aws-sysops-cert.png">
                    <img
                        loading="lazy"
                        alt="aws-sysops-cert"
                        src="images/certs/original/aws-sysops-cert.png"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">AWS Certified SysOps Administrator – Associate</h5>
                    <p class="font-semibold text-gray-400 mt-2">Certification demonstrates experience deploying, managing, and operating workloads on AWS</p>
                    <a aria-label="aws-sysops-cert" href="https://www.credly.com/badges/9e55f0a3-fcb2-455a-bb08-888d0cfdb5e7/public_url" target="_blank" class="text-sm text-blue-500 font-semibold mt-3">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-t-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/aws-devops-cert.webp">
                    <source type="image/png" srcset="images/certs/aws-devops-cert.png">
                    <img
                        loading="lazy"
                        alt="aws-devops-cert"
                        src="images/certs/original/aws-devops-cert.png"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">AWS Certified DevOps Engineer – Professional</h5>
                    <p class="font-semibold text-gray-400 mt-2">Certification validates the ability to automate the testing and deployment of AWS infrastructure and applications</p>
                    <a aria-label="aws-devops-cert" href="https://www.credly.com/badges/072f4b9f-341a-410c-bf43-8b5477aa6e1b/public_url" target="_blank" class="text-sm text-blue-500 font-semibold mt-3 justify-self-end">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-t-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/gcp-lab-cert.webp">
                    <source type="image/png" srcset="images/certs/gcp-lab-cert.png">
                    <img
                        loading="lazy"
                        alt="gcp-lab-cert"
                        src="images/certs/original/gcp-lab-cert.png"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">Google Cloud Lab Badges</h5>
                    <p class="font-semibold text-gray-400 mt-1">Earned 12 Google cloud labs. To completed introduction fundamentals of Google Cloud</p>
                    <a aria-label="gcp-lab-cert" href="https://www.cloudskillsboost.google/public_profiles/48156563-9a0b-495a-8f75-36624e642307" target="_blank" class="text-sm text-blue-500 font-semibold mt-3">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
            <div class="flex flex-col rounded-lg shadow bg-white max-w-xs">
                <picture class="rounded-lg self-center my-4 px-5 w-48 h-auto object-cover">
                    <source type="image/webp" srcset="images/certs/the-best-leader-award.webp">
                    <source type="image/jpg" srcset="images/certs/the-best-leader-award.jpg">
                    <img
                        class="rounded-lg"
                        loading="lazy"
                        alt="gcp-lab-cert"
                        src="images/certs/original/the-best-leader-award.jpg"/>
                </picture>
                <div class="flex flex-col p-6">
                    <h5 class="text-xl text-sky-900 font-extrabold">42Bangkok The Best Leader</h5>
                    <p class="font-semibold text-gray-400 mt-1">The leader of 42 Bangkok's cadets. To give who driven activities in 42Bangkok schools</p>
                    <a aria-label="gcp-lab-cert" href="https://facebook.com/photo.php?fbid=698077562104547" target="_blank" class="text-sm text-blue-500 font-semibold mt-3">
                        Explore <i class="far fa-chevron-double-right fa-xs"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
