<div class="flex flex-col items-start mx-6 my-24 md:flex-row md:justify-between md:gap-20 h-auto md:h50">
    <div id="education" class="flex md:w-5/12 flex-col justify-between h-full scroll-mt-24">
        <h5 class="text-sky-500 text-xl font-extrabold">About knowledge</h5>
        <h3 class="text-3xl font-extrabold">Education</h3>
        <p class="mt-4 font-semibold text-gray-400">I'm graduated from Aviation Technology that isn't in technology fields. I knew about code while I studied in university. So I shift my work to technology field. I think it suit to me.</p>
        <div class="mt-6 flex flex-col gap-6">
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/42-logo.png"
                    alt="42bangkok-logo"
                    class="w-12 h-12 border-gray-200 rounded-full">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2022 - Present</p>
                    <h5 class="text-slate-800 text-lg font-bold hover:underline">
                        <a aria-label="42bangkok" href="https://www.42bangkok.com/" target="_blank">42 Bangkok Institute</a>
                    </h5>
                    <p class="font-semibold text-gray-400">None Degree of Software Engineering</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/ku-logo.png"
                    alt="42bangkok-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2007 - 2011</p>
                    <h5 class="text-slate-800 text-lg font-bold hover:underline">
                        <a aria-label="kasetsart" href="https://www.ku.ac.th/" target="_blank">Kasetsart University</a>
                    </h5>
                    <p class="font-semibold text-gray-400">Bachelor of Aerospace Engineering - Aviation Technology</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/bodin-logo.png"
                    alt="42bangkok-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2001 - 2007</p>
                    <h5 class="text-slate-800 text-lg font-bold hover:underline">
                        <a aria-label="bodindecha" href="https://www.bodin.ac.th/" target="_blank">Bodindecha School</a>
                    </h5>
                    <p class="font-semibold text-gray-400">Grade 12 of Science Engineering</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/pps-logo.png"
                    alt="42bangkok-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">1995 - 2001</p>
                    <h5 class="text-slate-800 text-lg font-bold hover:underline">
                        <a aria-label="prayaprasert" href="https://www.prayaprasert.ac.th/" target="_blank">Prayaprasert School</a>
                    </h5>
                    <p class="font-semibold text-gray-400">Grade 6 of Elementary</p>
                </div>
            </div>
        </div>
    </div>
    <div id="works" class="flex flex-col justify-between h-full mt-16 md:mt-0 md:w-5/12 scroll-mt-24">
        <h5 class="text-sky-500 text-xl font-extrabold">About experiences</h5>
        <h3 class="text-3xl font-extrabold">Works</h3>
        <p class="mt-4 font-semibold text-gray-400">I was intern in Air Asia. I work as Freelance job to find my interesting. I tried to code in 2016. I knew this is challenging work after that shift my work into technology field.</p>
        <div class="mt-6 flex flex-col gap-6">
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/lseg-square.png"
                    alt="dmk-logo"
                    class="w-12 h-12 object-contain">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2022 - Present</p>
                    <h5 class="text-slate-800 text-lg font-bold">DevOps Engineer</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="dhammakaya" href="https://www.lseg.com/" target="_blank">London Stock Exchange Group plc.</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/dmk-logo.png"
                    alt="dmk-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2021 - Present</p>
                    <h5 class="text-slate-800 text-lg font-bold">Data Processing Lead</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="londonstockexchange" href="https://www.dhammakaya.net/" target="_blank">Dhammakaya Foundation</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/gg-logo.png"
                    alt="gg-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2020 - Present</p>
                    <h5 class="text-slate-800 text-lg font-bold">Founder</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="goodgeek" href="https://www.facebook.com/good.geek.community/" target="_blank">Good Geek Club</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/dnet-logo.png"
                    alt="dnet-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2020 - 2021 • 1 yrs 2 mos</p>
                    <h5 class="text-slate-800 text-lg font-bold">Cloud Development Lead</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="dnet2" href="https://www.dnet.co.th/" target="_blank">D-Net Technology co.,ltd</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/dnet-logo.png"
                    alt="dnet-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2018 - 2020 • 2 yrs 5 mos</p>
                    <h5 class="text-slate-800 text-lg font-bold">System Analysis & DevOps</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="dnet1" href="https://www.dnet.co.th/" target="_blank">D-Net Technology co.,ltd</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="w-12 h-12 bg-gray-400 rounded-full flex justify-center items-center">
                    <i class="far fa-building fa-lg"></i>
                </div>
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2016 - 2018 • 2 yrs</p>
                    <h5 class="text-slate-800 text-lg font-bold">Software Engineer</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="moahom" href="http://www.moahom.com/" target="_blank">Moahom co.,ltd</a>
                    </p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <div class="w-12 h-12 bg-gray-400 rounded-full flex justify-center items-center">
                    <i class="far fa-building fa-lg"></i>
                </div>
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2011 - 2015 • 5 yrs</p>
                    <h5 class="text-slate-800 text-lg font-bold">Freelance</h5>
                    <p class="font-semibold text-gray-400">Home</p>
                </div>
            </div>
            <div class="flex flex-row gap-4">
                <img
                    loading="lazy"
                    src="images/eds/aa-logo.png"
                    alt="airasia-logo"
                    class="w-12 h-12">
                <div>
                    <p class="text-sky-500 text-base font-extrabold">2010 - 2010 (2 Month)</p>
                    <h5 class="text-slate-800 text-lg font-bold">System Support - Intern</h5>
                    <p class="font-semibold text-gray-400 hover:underline">
                        <a aria-label="airasia" href="https://www.airasia.com/th/th/" target="_blank">Thai Air Asia</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>