<div class="my-24">
    <!-- Skills Section -->
    <div id="expertise" class="w-100 flex flex-col items-center mx-6 scroll-mt-24">
        <div class="md:w-3/5 text-left text-center">
            <h5 class="text-sky-500 text-xl font-extrabold">What's my power ?</h5>
            <h3 class="text-4xl text-slate-900 font-extrabold">My Expertise</h3>
            <p class="font-semibold text-gray-400 mt-4">My skill about coding and technology that I familiar with it. Deeply skill, I'm using this technology. Widely skill, I have been use or I learn that technology.</p>
        </div>
    </div>
    <div class="flex items-start mx-6 flex-row justify-around md:justify-evenly md:gap-20 h-auto">
        <div class="flex flex-col mt-8 md:justify-between md:ml-0 h-full">
            <h4 class="text-3xl text-slate-800 font-extrabold">Deeply</h3>
            <div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Tyepscript</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">JS, NodeJS</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Angular</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">NestJS</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">AWS</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Serverless</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Terraform</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star-half-alt fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Elasticsearch</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">MongoDB</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">HTML, CSS</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star-half-alt fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
            </div>
        </div>
        <div class="flex flex-col ml-10 mt-8 md:justify-between md:ml-0 h-full">
            <h4 class="text-3xl text-slate-800 font-extrabold">Widely</h3>
            <div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">React Native</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star-half-alt fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Flutter</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star-half-alt fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">React</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Shell</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Gitlab</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">PHP</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">MySQL</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">C</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Kubernetes</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">Java</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
                <div>
                    <p class="font-semibold text-gray-400 mt-4">GCP</p>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="fas fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                    <i class="far fa-star fa-sm text-sky-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>
