<div class="flex flex-col items-start my-24 mx-6 m-h-52 md:flex-row md:justify-between">
	<div class="self-center md:w-5/12">
		<div>
			<h4 class="text-sky-500 font-bold">Hey There I 👋 am</h4>
			<h3 class="text-4xl font-extrabold	 my-2">Thitiwut Somsa</h3>
			<p class="text-xl font-bold"><span class="text-gray-500">Professional</span> DevOps Engineer</p>
			<p class="mt-6 font-semibold  text-gray-400">I'm stundent of 42Bangkok, the coding school. I develop web application. I love to play games in my free time. My favorite game is Final Fantasy.</p>
			<div class="mt-8 flex flex-row justify-start">
				<a href="#aboutme">
					<button class="inline-block px-6 py-2 mr-2 sm:mr-6 rounded-2xl bg-sky-500 text-white hover:bg-sky-400">
						Learn More
					</button>
				</a>
				<a href="#footer">
					<button class="inline-block px-6 py-2 rounded-2xl bg-gray-800 text-white hover:bg-sky-800">
						Contact Me
					</button>
				</a>
				
			</div>
		</div>
	</div>
	<div class="flex justify-center mt-20 md:mt-0 md:w-5/12">
		<img 
			src="images/squall_leonhart.png"
			alt="profile"
			style="height: 420px; width: auto; object-fit: contain;">
	</div>
</div>