<div class="my-24">
    <div id="thisproject" class="w-100 flex flex-col items-center mx-6 scroll-mt-24">
        <div class="md:w-4/5 text-left text-center">
            <h5 class="text-sky-500 text-xl font-extrabold">How's about this project ?</h5>
            <h3 class="text-4xl text-slate-900 font-extrabold">This Project</h3>
            <p class="font-semibold text-gray-400 mt-4">
                This portfolio is a rush project in <span class="text-sky-400">42 Bangkok discovery piscine</span>.
                This event is organized between 8 - 10 May 2022.
                This project is build with specific technology.
                This project tech stack can called
                <span class="text-sky-400">
                    <a href="http://vanilla-js.com/" target="_blank">VanilaJS.</a>
                </span>.
                I use only simple library 
                <span class="text-sky-400">
                    <a href="https://tailwindcss.com/">Tailwindcss</a>
                </span>
                as CSS framework and <span class="text-sky-400">
                    <a href="https://fontawesome.com/">Fontawesome</a>
                </span> 
                as icon, no more than this.
                It's as far as I can do it in 2 days.
                you also can learn my code in my
                <span class="text-sky-400">
                    <a href="https://github.com/viruskizz/42bangkok-discovery-piscine" target="_blank">github.</a>
                </span>
            </p>
        </div>
    </div>
</div>